body {
    margin: 0;
    font-family: 'Georgia', serif;
    background: linear-gradient(90deg, #faf4e8, #ddeaf7);
}

.container {
    width: 100%;
    min-height: 120vh;
    position: relative;
    padding: 60px;
}


.star-left {
    font-size: 60px;
    color: #7aaed6;
    position: absolute;
    top: 50px;
    left: 120px;
}


.img-block-left {
    width: 380px;
    height: 420px;
    background: #d7ad6e;
    border-radius: 200px 200px 0 0;
    position: absolute;
    top: 260px;
    left: 80px;
    overflow: hidden; 
    z-index: 1; 
}

.img-left {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    position: absolute;
    bottom: 0;
}


.outline-box {
    width: 180px;
    height: 180px;
    border: 3px solid #f5c543;
    position: absolute;
    top: 160px;
    left: 280px;
    z-index: 2;
}


.star-big {
    width: 160px;
    height: 160px;
    border: 3px solid black;
    border-radius: 50%;
    position: absolute;
    top: 170px;
    left: 280px;
    z-index: 1;
}


.img-right {
    width: 330px;
    height: 390px;
    object-fit: cover;
    position: absolute;
    top: 180px;
    right: 230px;
    z-index: 4; 
}


.circle-bg {
    width: 420px;
    height: 420px;
    background: #bfd3e6;
    border-radius: 50%;
    position: absolute;
    top: 120px;
    right: 160px;
    z-index: 2; 
}


.star-small {
    width: 120px;
    height: 120px;
    border: 3px solid black;
    border-radius: 50%;
    position: absolute;
    bottom: 200px;
    right: 300px;
    z-index: 3;
}


.star-solid {
    width: 90px;
    height: 90px;
    background: #d8a742;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 
                       68% 57%, 79% 91%, 50% 70%, 
                       21% 91%, 32% 57%, 2% 35%, 39% 35%);
    position: absolute;
    bottom: 150px;
    right: 200px;
    z-index: 3;
}


.content {
    position: absolute;
    left: 50%;
    top: 130px;
    width: 40%;
    transform: translateX(-10%);
}

.number,
.number-2 {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 600;
}

.top-text,
.bottom-text {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 20px;
}

.title {
    font-size: 90px;
    font-weight: 700;
    margin: 40px 0;
    line-height: 85px;
}

.desc {
    font-size: 17px;
    line-height: 26px;
    width: 80%;
    margin-bottom: 40px;
}

.btn {
    background: #2f2f2f;
    color: #fff;
    border: none;
    padding: 14px 35px;
    border-radius: 40px;
    font-size: 20px;
    cursor: pointer;
}
