body {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.layout {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.top {
    height: 60%;
    background: #bebcbf;
}

.bottom {
    height: 40%;
    background: #352f31;
}

.oval {
    position: absolute;
    width: 45%;
    height: 120px;
    background: #b7aa9b;
    border-radius: 60px;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.big {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    position: absolute;
    right: 120px;
    top: 20px;
}

.small {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    position: absolute;
    right: 60px;
    top: 180px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(6px);
    background: transparent;   
    z-index: 5;
}

.modal {
    position: absolute;
    width: 420px;
    background: white;
    border-radius: 12px;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
    text-align: center;
    z-index: 10;
    box-shadow: 0 5px 25px rgba(0,0,0,0.2);
}

.box {
    width: 100%;
    height: 150px;
    background: #e2e2e2;
    border-radius: 12px;
    margin-bottom: 20px;
}

.close {
    position: absolute;
    right: 15px;
    top: 12px;
    cursor: pointer;
}

.input {
    width: 90%;
    height: 45px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding-left: 10px;
}

.btn {
    width: 90%;
    height: 50px;
    background: #3d3a3b;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
